body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #9dddfa;
}

.bus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 500px;
}

.bus-body {
    position: absolute;
    background-color: darkorange;
    border-bottom: 5px solid orangered;
    border-top: 5px solid orange;
    border-radius: 40px 40px 15px 15px;
    width: 650px;
    height: 280px;
    z-index: 1;
    display: flex;
}


.rear-lights {
    position: absolute;
    background-color: red;
    border-radius: 5px 15px 15px 5px;
    width: 12px;
    height: 60px;
    top: 200px;
}

.bus-window {
    background-color: dodgerblue;
    border-radius: 8px;
    margin: 40px 10px 0 38px;
    width: 160px;
    height: 100px;
}

.front-lights {
    position: relative;
    background-color: black;
    border-radius: 50% 5px 5px 50%;
    border-right: 5px solid yellow;
    width: 20px;
    height: 50px;
    top: 200px;
    right: -10px;
}

.light {
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 220px solid yellow;
    width: 0;
    height: 0;
    top: 115px;
    left: 730px;
    z-index: -1;
    transform: rotate(-90deg);
    opacity: 40%;
}

.bus-wheel {
    position: relative;
    background-color: gray;
    border-radius: 50%;
    margin: 0 100px 0 100px;
    width: 120px;
    height: 120px;
    top: 150px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bus-rim {
    background-color: lightgray;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}



