
body {
    background: linear-gradient(to right, #6190E8, #A7BFE8);
}

h1 {
    text-align: center;
    font-family: 'Roboto', fantasy;
    text-shadow: 0px 0px 13px rgb(58, 82, 125);
    font-weight: 300;
    color: #fff;
    margin: 0 0 10px;
    font-size: 50px;
}

.todo-list {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 1200px;
    padding: 20px;
}

.row, .filters {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 50px;
}


.col-sm-2.form-group button {
    padding: 5px 160px;
    font-size: 18px;
}
